<% layout('layouts/boilerplate') -%>
<div style="margin-top: 150px;">
    <%= blog.titulo %>
    <img src="<%= blog.image %>" alt="">
    <%= blog.body %>
    <%= blog.data %>
</div>

<a class="btn btn-warning" href="/blog/<%= blog.id %>/editar">editar</a>

<form style="display: inline;" action="/blog/<%= blog.id %>?_method=DELETE" method="POST">
  <button class="btn btn-danger">Deletar</button>
</form>